<body class="page">
  <div class="messages-container">
    <h1 class="messages-header">Messages</h1>

    <div id="message-inbox">
      <% @messages.each do |listing_id, messages| %>
        <% listing = Listing.find_by(id: listing_id) %>

        <% if listing %>
          <div class="listing-message-container" id="listing-<%= listing.id %>">
            <%= link_to listing_messages_thread_path(listing.id) do %>
              <h2><%= listing.caption %></h2>
            <% end %>

            <div class="delete-message">
              <%= button_to listing_delete_message_thread_path(listing.id),
                      method: :delete,
                      class: "btn btn-sm btn-link text-muted", 
                      data: { confirm: 'Are you sure you want to delete this message thread?' },
                      remote: true do%>

                <i class="fas fa-trash fa-fw"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
