<body class="page">
  <div class="messages-container">
    <h1 class="messages-header">Messages</h1>

    <div id="messages">
      <% @messages.each do |listing_id, messages| %>
        <% listing = Listing.find_by(id: listing_id) %>

        <% if listing %>
          <div class="listing-message-container">
            <h2><%= listing.caption %></h2>

            <%= link_to listing_messages_thread_path(listing.id) do %>
              <i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </div>
        <% else %>
          <div class="listing-message-container">
            <h2>Listing has been deleted (ID: <%= listing_id %>)</h2>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
