<body class="page">
  <div class="messages-container">
    <h1 class="messages-header">Messages</h1>

    <div id="messages">
      <% @messages.each do |listing_id, messages| %>
        <h4><%= listing_id %></h4>
        <% messages.each do |message| %>
          <div class="message">
            <%= render message %>
          </div>
        <% end %>
        <div class="new-message">
          <% if current_user.seller? %>
            <% recipient_id = listing.buyer.id %>
          <% end %>
          <%= link_to "New message", new_listing_message_path(listing_id: listing_id, recipient_id: recipient_id) %>
        </div>
      <% end %>
    </div>
  </div>
</body>
