<div class="edit-listing">
  <h1>Editing listing</h1>

  <%= render "form", listing: @listing %>

  <br>

  <div>
    <%= link_to "Back to listings", user_path(current_user.username) %>
    <%= button_to "Destroy this listing", @listing, method: :delete %>
  </div>
</div>
