<div class="navbar">
 <a href="#home"><i class="fa-solid fa-house"></i></a> 
  <%= link_to :messages do %>
    <i class="fa-solid fa-comments"></i>
  <% end %>

  <%= link_to new_listing_path do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>

  <%= link_to :listings do %>
    <i class="fa-solid fa-bag-shopping"></i>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to edit_user_registration_path do %>
    <%# "#{current_user.username}", %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  <% end %>
</div>
