<% stylesheet_link_tag('home')%>

<div class="logo">
    <%= image_tag("/assets/Muse-2.png", size: "80x80", alt: "Muse")%>
</div>
<div class="title">
  <h2> Find what you're looking for today</h2>
</div>

<div class="home-video">
  <%= video_tag("/assets/8798295-uhd_4096_2160_25fps.mp4", loop: :loop, autoplay: :autoplay, muted: :muted, width: "100%")%>
</div>

