<body class="page">
  <div class="logo">
    <%= image_tag("/assets/Muse-2.png", size: "80x80", alt: "Muse")%>
  </div>

  <div class="title">
    <h2> Find what you're looking for today</h2>
  </div>

  <div class="home-video">
    <%= video_tag("/assets/home_video.mp4", loop: :loop, autoplay: :autoplay, muted: :muted, autobuffer: true, playsinline: :playsinline, width: "100%")%>
  </div>

  <div class="latest-listings">
    <h1 class="home-sub-header">Discover the most recent listings</h1>
    <% @listings.each do |listing|%>
      <%= render 'listings/card', listing: listing %>
    <% end %>
  </div>

</body>
