<div class="edit-offer">
  <h1>Editing offer</h1>

  <%= render "form", offer: @offer %>

  <br>

  <div>
    <%= link_to "Back to offers", offers_path %>
    <%= button_to "Destroy this offer", @offer, method: :delete %>
  </div>
</div>
