/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --base-color: rgb(252, 241, 243);
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --navbar-background: rgb(255, 220, 229); /* Light mode background for navbar */
}

.darkmode {
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  /* --navbar-background: #1a1e27;  */
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border: none;
  /* background-color: var(--base-color); */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg {
  fill: var(--primary-color);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

body {
  background: var(--base-color);
  font-family: "Alumni Sans Pinstripe", sans-serif;
  padding-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

abbr[title="required"] {
  display: none;
}

ul {
  list-style: none;
}

.navbar {
  background: rgb(255, 220, 229);
  /* background: var(--navbar-background); */
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.navbar a {
  padding: 20px 30px;
  text-decoration: none;
  font-size: 1.0625rem;
  /* color: var(--text-color); */
}

.navbar a:hover {
  background: rgb(253, 251, 252);
}

.navbar a.active {
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 10px;
}

@media (max-width: 530px) {
  .nav-text {
    display: none;
  }
}
