/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
  background: pink;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .navbar a {
  /* float: left;
  display: block;
  text-align: center; */
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
 }

 .navbar a:hover {
  background: rgb(253, 251, 252);
 }

 .navbar a.active {
  background: rgb(250, 150, 167);
  color: white;
 }

 .home {
  border: 5px solid red;
 }
