@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
}

.home-video {
  width: 100%;
}

.latest-listings {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px;
  gap: 50px;
}

.home-sub-header {
  text-align: center;
}
