@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

#home-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-video {
  width: 100%;
}

.home-sub-header {
  margin-top: 1.25rem;
}

.latest-listings {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3.125rem;
  gap: 3.125rem;
}

@media (min-width: 43.75rem) {
  .latest-listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 95%;
    column-gap: 3.125rem;
    row-gap: 3.125rem;
  }

  .card {
    min-height: 31.25rem; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    overflow: hidden;
  }

  .card-img-container {
    width: 100%;
    height: 0;
    padding-top: 100%; 
    position: relative;
  }

  .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}

.home-sub-header {
  text-align: center;
}
