@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.top {
  height: 50%;
  width: 100%;
}

.bottom {
  height: 50%;
  width: 100%;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

.demo-video {
  margin-top: 3.125rem;
}

.footer {
  position: relative;
  bottom:0;
  width:100%;
  height:60px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

@media (max-width: 1000px) {
  .nav {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
  }
}

.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.box video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 6.25rem;
}

.logo-name {
  font-family: "Sacramento", sans-serif;
  font-size: 5rem;
}

.caption {
  font-size: 1.875rem;
}

.sign-in,
.boxBtn {
  text-align: center;
  padding: 16px 24px;
  border-radius: 5px;
  background: rgb(250, 217, 223);
  box-shadow: 0 0 30px 0 rgb(250, 217, 223), 0 0 30px 0 rgb(249, 218, 223),
    0 0 10px 0 rgb(249, 220, 225) inset;
  border: 1px solid white;
  transition: all 0.5s;
}

.sign-in:hover {
  background: white;
}

.boxBtn:hover {
  background: white;
}

@media (max-width: 800px) {
  .box {
    min-height: 600px;
  }
  .boxBtn {
    padding: 15px 40px;
  }
}

div.color-changer {
  border: 2px solid black;
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  margin-right: 2px;
}

div.color-changer input {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
