.messages-container {
  margin-top: 3.125rem;
  width: 80%;
}

.messages-header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.message {
  padding-left: .5rem;
  border: .0625rem solid black;
  margin: .3125rem 0 .3125rem 0;
}

.new-message-top {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.new-message {
  border: .0625rem solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.darkmode .message {
  border-color: white; 
}

.new-message-top {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.darkmode .new-message {
  border-color: white;  
}

.darkmode .new-message .a {
  color: white;
}

.listing-message-container {
  border: 1px solid black;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-thread-container {
  width: 80%;
  margin-top: 3.125rem;
}

.message-thread-header {
  text-align: center;
}

.message-image {
  height: 50%;
  width: 50%;
}
