.message {
  padding-left: 0.5rem;
  border: 0.0625rem solid grey;
  margin: 0.3125rem 0 0.3125rem 0;
}

.new-message {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}
