.new-listing,
.new-message-container,
.edit-listing,
.edit-offer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

