.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.modal {
  display: flex;
  max-width: 850px;
  margin: auto;
  background: white;
  font-weight: 900;
  border-radius: 10px;
}

.left-content {
  background-size: cover;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  background: white;
}

.left-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgb(255, 220, 229);
  opacity: 0.75;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

.left-header {
  font-size: 30pt;
}

.left-text {
  font-size: 10pt;
  display: flex;
  flex-wrap: wrap;
}

.icon-container {
  height: 3%;
  width: 3%;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.right-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 35px;
}

.starting-prompt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-header {
  font-size: 20pt;
}

.sign-up-button {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-actions {
  display: flex;
  align-items: center;
}

.sign-up-btn {
  margin-right: 0.5rem;
}
