.edit-header {
  margin: 3.125rem 0 1.25rem;
  text-align: center;
}

.account-actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5rem;
  gap: .625rem;
}

.edit-user-container {
  display: flex;
  margin-top: 3.125rem;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

@media (max-height: 46.875rem) {

  .edit-form-container {
    gap: .625rem;
  }
}

.upload-image {
  width: 9.375rem;
  padding: 0 .3125rem;
  text-align: center;
}

.bio-text-box {
  height: 1.625rem;
  width: 10.375rem;
}

.forms {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.left-forms,
.right-forms {
  width: 50%;
  height: 100%;
}

.form-footer {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  text-align: center;
}
