.edit-header {
  margin: 50px 0 20px;
  text-align: center;
}

.account-actions {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5rem;
  gap: .625rem;
}

.edit-user-container {
  display: flex;
  margin-top: 3.125rem;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

@media (max-height: 750px) {

  .edit-form-container {
    gap: .625rem;
  }
}

.upload-image {
  width: 150px;
  padding: 0 5px;
  text-align: center;
}

.bio-text-box {
  height: 26px;
  width: 166px;
}

.forms {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.left-forms,
.right-forms {
  width: 50%;
  height: 100%;
}

.form-footer {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  text-align: center;
}
